@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Universal Formatting */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
 
.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* Utilities */

:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --padding-inline-section: 20px;
}

body {
    width: auto;
    font-family: var(--secondary-font);
}

button {
    font-family: val(--primary-font);
    font-weight: 500;
    font-size: 0.9rem;
    height: 55px;
    padding: 0 65px;
    color: white;
    border: 2px sloid black;
    border-radius: 5px;
    background-color: black;
}

.container {
    max-width: 1920px;
    /* margin-inline: auto; */
    /* padding-inline: var(--padding-inline-section); */
    overflow: hidden;
}

/* header formatting */

.icons {
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header {
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(214, 255, 255);
    /* border: 1px solid rgb(207, 207, 207); */
    box-shadow: 1px 1px 9px rgba(217, 217, 217, 0.572);
}

.menu {
    display: none;
}

.header ul {
    gap: 30px;
}

.header li {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    list-style: none;
}

/* Hero Section */

.hero {
    width: 100%;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hero-image {
    width: 700px;
}

.hero-image img {
    border-radius: 10px;
    width: 100%;
}

.hero .hero-text {
    width: auto;
    line-height: 40px;
}

.hero .hero-text h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
}

.hero .hero-text p {
    font-weight: 400;
    font-size: 0.9rem;
}

.hero .hero-text li {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.25rem;
    list-style: none;
}

.hero .hero-text ul {
    padding: 20px 0 30px;
}

.hero .hero-text h4 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.7rem;
}

.hero .hero-text a {
    font-weight: 600;
    color: black;
    font-size: 0.8rem;
}


/* Page Nav */

.page-nav {
    background-color: rgb(232, 234, 235);
    height: 50px;
    margin: 40px;
    width: fit-content;
    align-items: center;
    border-radius: 30px;
    position: sticky;
    top: 5px;
    z-index: 1;
}

.page-nav li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    list-style: none;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    height: 40px;
    width: fit-content;
    align-items: center;
}


.page-nav li:hover {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    height: 40px;
    width: fit-content;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    list-style: none;
    transition: 0.3s ease-out;
}

/* Plans Section */

.plans {
    /* background-color: aqua; */
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    height: max-content;
    padding: 100px 80px;
}

.plan-box {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 18px;
    background-color: white;
    width: 300px;
    height: 400px;
    padding: 30px;
}

.plan-box h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 40px;
}

.plan-box h2 {
    font-family: var(--primary-font);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 40px;
}

.plan-box h3 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 20px;
    padding-bottom: 20px;
}

.plan-box li {
    font-family: var(--primary-font);
    font-weight: 500;
    list-style: none;
}

.plan-box .offer {
    background-color: rgb(245, 235, 169);
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 2px 5px;
    font-size: 0.8rem;
    list-style: none;
}

.plan-box .off {
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 2px 15px;
    font-size: 0.8rem;
    text-decoration: line-through;
    list-style: none;
}

.plan-box .price {
    align-items: baseline;
}

.plan-box button {
    width: 100%;
}

/* Includes Section  */

.features {
    background-color: rgb(233, 233, 233);
    flex-wrap: wrap;
    min-width: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 60px;
    padding: 0px 40px;
}


.feature-right {
    flex-wrap: wrap;
    justify-content: space-between;
}

.features h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

.features h2 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;

}

.features h3 {
    font-family: var(--primary-font);
    background-color: aqua;
    width: fit-content;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1rem;
}

.features p {
    line-height: 20px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 0.8rem;
}

.feature-box {
    /* border: 1px solid rgb(221, 221, 221);
    border-radius: 18px;
    background-color: white; */
    width: 200px;
    height: 240px;
    padding: 30px;
}

.feature-box1 {
    width: 250px;
}

/* VPS section */

.VPS {
    text-align: center;
    background-color: rgb(233, 233, 233);
    height: 160px;
    padding: 70px;
    font-size: 1.1rem;
    font-weight: 500;
}

.VPS a {
    color: black;
    font-weight: 700;
}

/* why section */

.why-container {
    padding: 80px 200px 0px 200px;
    /* background-color: aqua; */
    justify-content: center;
}

.why {
    width: 1200px;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    align-content: center;
    column-gap: 60px;
    align-items: top;
    justify-items: center;
    flex-wrap: wrap;
    /* background-color: rgb(255, 255, 0); */
}

.why div {
    height: fit-content;
    align-self: auto;
}

.why h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
}

.why p {
    font-weight: 400;
    font-size: 0.9rem;
    padding-top: 20px;
    line-height: 30px;
}

.why-text {
    width: 80%;
    height: fit-content;
    /* margin-right: 100px; */
    /* float: left; */
}

.why-text {
    grid-row: 1 / 2 ;
}
.why-img {
    grid-row: 1 / 3 ;
}

.why-text-2 {
    grid-row: 3 / 4 ;
}

.why-text-3 {
    grid-row: 4 / 5 ;
}

.why-img-2 {
    grid-row: 2 / 4 ;
}

.why-img-3 {
    grid-row: 4 / 6 ;
}

.why-img-4 {
    grid-row: 5 / 7 ;
}

.why-text-4 {
    grid-row: 6 / 7 ;
}

.why-text-5 {
    grid-row: 7 / 8 ;
}

.why-img img {
    width: 480px;
    border-radius: 20px;
    /* position: relative;
    right: 0px;
    float: right; */
}

.why-img-2 img {
    width: 480px;
    border-radius: 20px;
    /* position: absolute;
    top: 80px;
    left: 0px;
    left: 240px;
    top: 2330px;
    float: left; */
}

.why-text-2 {
    width: 80%;
    /* margin-right: 100px; */
    /* float: right;
    position: absolute;
    right: 160px;
    top: 2650px */
}

.why-text-3 {
    width: 80%;
    /* margin-right: 100px; */
    /* float: left;
    position: absolute;
    left: 270px;
    top: 3050px */
}

.why-img-3 img {
    width: 480px;
    border-radius: 20px;
    /* position: absolute;
    top: 3000px;
    right: 240px;
    float: right; */
}

.why-img-4 img {
    width: 480px;
    border-radius: 20px;
    /* position: relative;
    top: 450px;
    right: 0px; */
    /* position: absolute;
    left: 240px;
    top: 3350px;
    float: left; */
}

.why-text-4 {
    width: 80%;
    /* margin-right: 100px; */
    /* float: right;
    position: absolute;
    right: 160px;
    top: 3680px */
}

.why-text-5 {
    width: 80%;
    /* margin-right: 100px; */
    /* position: absolute;
    left: 260px;
    top: 4030px */
}

.why-tab {
    display: none;
}

/* Pro Section */

.pro-box {
    width: 100%;
    height: max-content;
    padding: 60px;
    background-color: rgb(255, 255, 255);
}

.pro {
    width: 100%;
    height: max-content;
    padding: 60px;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
}

.pro .pro-text {
    line-height: 70px;
    width: 40%;
}

.pro .pro-points {
    line-height: 40px;
    width: 50%;
}

.pro .pro-text h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
}

.pro .pro-points h2 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 30px;
}

.pro .pro-points hr {
    margin: 22px;
}

.pro .pro-text p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 20px;
    padding: 20px;
}

.pro .pro-text h4 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.7rem;
}

.pro .pro-text a {
    font-weight: 600;
    color: black;
    font-size: 0.8rem;
}

/* Key Feature Section */

.key {
    width: 100%;
    /* background-color: aqua; */
    height: max-content;
}

.key h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
    text-align: center;
    padding: 0px 40px 60px;
}

.key-img {
    padding: 0px 120px;
    flex-wrap: wrap;
    justify-content: space-between;
}



.key-img img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.51);
}

.key-feature-5 img {
    width: 830px;
}

/* Hosting Section */

.hosting {
    /* background-color: aqua; */
    padding: 0px;
    /* height: max-content; */
}

.hosting-text h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
    text-align: center;
    margin-top: 30px;
}

.options {
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px 60px;
}

.option1 {
    padding: 30px;
    background-color: lightgray;
    border-radius: 20px;
    /* background-color: brown; */
    line-height: 20px;
    width: 600px;
    height: 500px;
}

.option2 {
    padding: 60px;
    line-height: 20px;
    width: 600px;
    height: 500px;
    background-color: lightgray;
    border-radius: 20px;
    /* background-color: rgb(255, 156, 156); */
}

.options h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
    line-height: 60px;
}

.options h2 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 30px;
}

.options p {
    font-weight: 400;
    font-size: 0.9rem;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 25px;
}

/* Help Section */

.help {
    background: linear-gradient(to right, #9fbbdc, #edf5ff);
    width: 100%;
    padding: 40px 40px 0px 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.help .help-text {
    padding-bottom: 20px;
    /* background-color: brown; */
    width: 600px;
}

.help .help-image {
    justify-content: space-between;
    /* background-color: blue; */
    width: 600px;
}

.help .help-text h1 {
    font-family: serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 60px;
}

.help .help-text p {
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 30px;
    font-size: 1rem;
}

.help .help-text li {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.25rem;
    list-style: none;
}

.help .help-text ul {
    padding: 20px 0 30px;
}

.help .help-text h4 {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.7rem;
}

.help .help-text a {
    font-weight: 600;
    color: black;
    font-size: 0.8rem;
}

.help-image img {
    border-radius: 10px;
    width: 400px;
}

.help-text img {
    border-radius: 10px;
    width: 200px;
}

/* Support Section */

.support {
    text-align: center;
}

.support h1 {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 60px;
}

/* footer */

.small-footer {
    background-color: rgb(214, 255, 255);
    padding: 5px 20px;
}

.small-footer h1 {
    font-family: var(--primary-font);
    color: rgb(86, 86, 86);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
}

.large-footer {
    height: 200px;
    background-color: rgb(42, 42, 42);
}

.large-footer ul {
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}

.large-footer h2 {
    text-align: center;
    font-family: var(--primary-font);
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 40px;
}